/*
    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ---------- CUSTOM STYLES ---------- */
:root{
	/* ASU Brand Colors */
	--wht: #fff;
	--black: #000;
	--maroon: #8c1d40;
	--gold: #ffc627;
	--blue: #00a3e0;
	--green: #78be20;
	--orange: #ffcf32;
    --gray: #747474;
    --gray1: #FAFAFA;/* open accordion panel background */ 
    --gray2: #E8E8E8; /* background on accordion heading: hover/focus */
    --gray3: #D0D0D0; /* border on accordion heading */
    --gray4: #BFBFBF;
    --gray5: #747474;
    --gray6: #484848;
    --gray7: #191919; /* accordion text & sidebar */
    --visited-inline-link: #440E22;
	
	/* ASU Fonts */
	--fonts: Arial, sans-serif;

    /* ASU Focus Shadow Style */
    --focus-shadow: 0 0 8px #00baff;

    /* Shadows */
    --box-shadow-large: -0.5rem 0.5rem 0.75rem var(--gray6);
    --box-shadow-small: -0.25rem 0.25rem 0.5rem var(--gray6);
    --filter-shadow-large: drop-shadow(-0.75rem 0.75rem 0.5rem var(--gray6));
    --filter-shadow-small: drop-shadow(-0.25rem 0.25rem 0.12rem var(--gray6));
    --filter-light-shadow: drop-shadow(0 0 0.75rem var(--gray4));
    --filter-dark-shadow: drop-shadow(0 0 0.75rem var(--gray6));

    /* Easing */
    --easing: cubic-bezier(0, 0.55, 0.45, 1);
}

/* ----- skip link styles ----- */
/* found here: https://webaim.org/techniques/css/invisiblecontent/ */
#skip{
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

#skip:focus{
    position: static;
    width: auto;
    height: auto;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--wht);
    outline: 2px solid var(--orange);
    margin-bottom: 2px;
}

/* ----- hidden content styles - for screen readers ----- */
/* found here: https://webaim.org/techniques/css/invisiblecontent/ */
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}


body{
    font-family: var(--fonts);
    font-size: 1.1rem;
    box-sizing: border-box;
	background-color: var(--gray7); 	
	line-height: 1.5;
}

#background{
	width: 100vw;
	height: 100vh;
	background-image: url("images/mobile-background.svg"); 
	background-repeat: no-repeat;
	background-size: cover;
    position: fixed;
    z-index: -2;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

#flex-bkgrnd{
	display: none;
}

/* Header, Main, Footer Styles */
header, main, footer{
    background-color: var(--wht);
    max-width: calc(1000px - 32px);
    margin: 0 auto;
    padding: 32px 16px;
    position: relative;
    z-index: 2;
}

/* Header Styles */
header{
    background-color: var(--black);
    color: var(--wht);
}

/* Link Styles */
a{
    display: block;
    padding: 1rem;
    color: var(--maroon);
}

/* Link Hover Styles */
p a:hover, #accordion section a:hover{
    text-decoration: none;
}

/* Link Focus Styles */
p a:focus, p a:focus-visible, p a:visited:focus-visible, 
#accordion section a:focus, #accordion section a:focus-visible, 
#accordion section a:visited:focus-visible{
    background-color: var(--maroon);
    color: var(--wht);
    outline-color: var(--gold);
    outline-offset: 2px;
    text-decoration: none;
}

/* Visited Link Styles */
p a:visited, #accordion section a:visited{
    color: var(--visited-inline-link);
}

/* Visited Links on Focus Styles */
/* a:visited:focus-visible{
    color: var(--wht);
    outline-color: var(--gold);
} */

/* Link Around Logo */
header > a{
    padding: 0;
}

/* Logo Image Link on Focus */
header > a:focus{
    outline: 2px solid var(--gold);
}

/* Logo Image Styles */
header > img{
    width: 50%;
    max-width: 150px;
    margin: 0 auto;
}

/* Image Styles */
img{
    display: block;
    width: 100%;
    height: auto;
}

/* Shared Heading Styles */
h1, h2, h3{
    font-weight: bold;
    width: fit-content;
    letter-spacing: -0.5px;
}

/* H1 Styles */
h1{
    font-size: 2rem;
    line-height: 3.25rem;
    color: var(--wht);
    text-align: center;
    margin: 0 auto;
}

/* Navigation Styles */
nav{
    width: 100%;
    max-width: 650px;
    margin: 16px auto;
    text-align: center;
}

nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

nav a{
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    width: fit-content;
    padding: 16px 32px;
    margin: 12px auto;
    background-color: var(--gold);
    color: var(--black);
    border-radius: 32px;
    transition: all 300ms;
}

/* Nav Link Hover Styles */
nav a:hover{
    transform: scale(1.05);
    background-color: var(--gold);
    color: var(--black);
}

/* Nav Visited Link Styles */
nav a:visited{

}

/* Nav Link Focus Styles */
nav a:focus, nav a:focus-visible{
    transform: scale(0.95);
    outline: 2px solid var(--gold);
    outline-offset: 4px;
}

/* Main Styles */
main{
    
}

/* Sections in Main */
main > section{
    padding: 2rem 0;
}

/* H2 Styles */
h2{
    font-size: 1.75rem;
    margin: 8px 0;
    background-color: var(--gold);
    padding: 0 8px;
    text-align: center;
}

main img:first-of-type{
    /* max-width: 540px;
    margin: 0 auto; */
}

/* Paragraph Styles */
p{
    width: 100%;
    max-width: 65ch;
    margin: 0 auto;
    padding: 16px 0;
    line-height: 1.4;
}

/* Paragraph About Images */
.additional-info{
    /* font-style: italic;
    font-size: 1rem;
    max-width: 68ch;
    padding: 0 0 0; */
}

/* Styles for the card containers and carousel */
.cards{
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem; */
}

/* Styles for the cards used for each product */
.cards section{
    padding: 0.5rem;
    width: calc(100% - 1rem);
    max-width: calc(400px - 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.cards img{
    order: -1;
}

.cards h3{
    font-size: 1.25rem;
    text-align: center;
    margin: 32px 0 16px;
}

.carousel{
	width: 90%;
    max-width: 1015px;
    margin: 0 auto;
}

.slick-initialized .slick-slide {
    display: flex;
}

.slick-track{
    /* padding-top: 5vw; */
    /* padding-bottom: 5vw; */
    display: flex;
    /* gap: 3.5vw; */
}

.slick-slide{
    /* color: transparent; */
}

.slick-slide img{
	/* width: 70vw; */
	/* height: auto; */
}

.slick-prev, .slick-next{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    outline: 6px solid transparent;
}

.slick-prev:before, .slick-next:before{
    font-size: 3rem;
    line-height: 3.45rem;
    color: var(--maroon);
    opacity: 1;
}

.slick-prev{
    left: -20px;
    z-index: 1;
}

.slick-next{
    right: -20px;
    z-index: 1;
}

.slick-dots li button:before{
    font-size: 1rem;
}

.slick-center{
    /* transform: scale(1.15);
    transition: all 400ms var(--easing); */
}

.slick-center{
    /* filter: grayscale(0%); */
    /* transition: all 2s cubic-bezier(0, 0.55, 0.45, 1); */
    display: flex !important;
    flex-direction: column;
}

.slick-center img{
    /* filter: var(--filter-shadow-small); */
}

.slick-center{
    /* background-color: var(--gray1);
    color: var(--gray7); */
}

.slick-dots li button{
    border-radius: 50%;
    /* outline: 6px solid transparent; */
}

.slick-dots li button:before{
    box-sizing: border-box;
    padding: 0.25rem;
}

.slick-dots li.slick-active button:before{
    color: var(--maroon);
}

.slick-prev:focus, .slick-next:focus, .slick-dots li button:focus{
    outline: 4px solid var(--gold);
    outline-offset: 2px;
}

.slick-prev:hover:before, .slick-next:hover:before, .slick-dots li button:hover{
    color: var(--gray7);
}

/* Summary/Details Element Styles */
details{
	padding: 8px 16px;
	max-width: calc(65ch - 32px);
	margin: 1rem auto 2rem;
	border: 2px solid var(--gray5);
	border-radius: 4px;
}

details[open] summary{
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 2px solid var(--gray5);
}

summary{
	font-weight: 800;
}

summary::marker{
    color: var(--maroon);
}

details:focus-visible, details:focus-within{
    outline: 4px solid var(--gold);
    outline-offset: 2px;
}

summary:focus{
    outline: none;
}

/* Accordion Styles */

/* .ui-widget{
    font-family: var(--fonts);
    width: 100%;
    max-width: 700px;
    margin: 16px auto;
} */

/* Shared Heading Styles */
/* .ui-accordion .ui-accordion-header{
    background: none;
    background-color: var(--wht);
    border-top: 1px solid var(--gray3);
    border-bottom: 1px solid var(--gray3);
    border-left: 8px solid var(--gold);
    border-right: 1px solid var(--gray3);
    border-radius: 0;
    font-size: 1.25rem;
    color: var(--gray7);
    width: calc(100% - 33px);
    max-width: 700px;
    margin: 0 auto;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* h3.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-header-active.ui-state-active{
} */

/* h3.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default, h3.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-state-hover{
    margin: 0 auto 24px auto;
} */

/* Heading on Hover */
/* h3.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default.ui-state-hover{
    background-color: var(--gray3);
} */

/* Active Heading Styles */
/* h3.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-header-active.ui-state-active{
    padding: 8px 10px;
} */

/* Hover Heading Styles */
/* h3.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-header-active.ui-state-active */
/* #accordion h3:focus, #accordion h3:focus-visible{
    outline: 4px solid var(--gold);
    outline-offset: 2px;
} */

/* Headings When the Accordion Panel is Collapsed */
/* h3.ui-accordion-header.ui-corner-top.ui-accordion-header-collapsed.ui-corner-all.ui-state-default span.fa-solid.fa-chevron-down{
    display: inline-block;
    content: url("images/chevron-down-solid.svg");
    width: 1.5rem;
    height: 1.5rem;
    color: var(--gray7);
} */

/* h3.ui-state-hover .fa-solid.fa-chevron-down, h3.ui-state-focus .fa-solid.fa-chevron-down{
    display: inline-block;
    content: url("images/chevron-down-solid.svg");
    width: 1.5rem;
    height: 1.5rem;
    color: var(--gray7);
} */

/* Headings When the Accordion Panel is Open */
/* h3.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-header-active.ui-state-active span.fa-solid.fa-chevron-down{
    transform: rotate(180deg);
} */

/* Heading Arrows (Default) */
/* .ui-accordion .ui-accordion-header span.fa-solid.fa-chevron-down{
    display: inline-block;
    content: url("images/chevron-down-solid.svg");
    width: 1.5rem;
    height: 1.5rem;
    color: var(--gray7);
    transition: all 500ms;
} */

/* Sections of Accordion When Open */
/* #accordion section{
    width: calc(100% - 45px) !important;
    margin: 0 auto 24px auto !important;
    padding: 16px !important;
    background: none;
    background-color: var(--gray1);
    color: var(--gray7);
    border: 1px solid var(--gray3);
    border-top-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left: 8px solid var(--gold) !important;
    border-radius: 0;
    font-size: 1rem;
    position: relative;
    transition: all 300ms;

} */

/* Accordion Link Styles */
/* #accordion section a{
    padding: 8px;
    width: fit-content;
    margin: 8px 0 0 0;
    color: var(--maroon);
    font-weight: bold;
}

#accordion dd{
    padding: 0 0 0 16px;
} */

/* For the Button to Subscribe to The Scoop in the Subscribe Section */
.btn-default{
    font-size: 1rem;
    background-color: var(--maroon);
    color: var(--wht);
    font-weight: bold;
    padding: 12px 24px;
    margin: 16px auto;
    width: fit-content;
    border-radius: 32px;
    text-decoration: none;
    transition: all 300ms;
    display: flex;
    gap: 8px;
}

/* For the Button to Subscribe on Hover */
.btn-default:hover{
    transform: scale(1.05);
}

/* Default Button Focus Styles */
.btn-default:focus,
.btn-default:focus-visible{
    outline: 4px solid var(--gold);
    outline-offset: 2px;
    text-decoration: none;
}

/* Footer Styles */
footer{
    background: var(--black);
    color: var(--wht);
}

/* Footer Social Media Section Styles */
#socials{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 16px; */
    max-width: 180px;
    margin: 16px auto;
    color: var(--wht);
}

/* Links to Socials */
.social-link{
    display: block;
    padding: 8px 16px;
}

.social-link svg{
    display: block;
    fill: var(--gray4);
    width: 28px;
    height: 32px;
}

/* Footer Paragraph Styles */
footer p{
    padding: 16px 0;
    text-align: center;

}

/* Footer Second Span Styles */
/* footer span:last-of-type{
    display: block;
    margin: 8px auto;
} */

/* Footer Link Styles */
footer a{
    padding: 4px 8px;
    width: fit-content;
    margin: 0 auto;
    color: var(--wht);
}

/* Footer Link Hover Styles */
footer a:hover{
    color: var(--wht);
}

/* Footer Links on Focus Styles */
footer a:focus, footer a:focus-visible{
    outline: 2px solid var(--gold);
}

footer > p a:focus, footer > p a:focus-visible{
    outline-offset: 4px;
}

/* For the Back to top Link */
#btt{
    background-color: var(--gold);
    color: var(--gray7);
    line-height: 1;
    text-decoration: none;
    padding: 16px;
    display: block;
	padding: 0.5rem;
	width: 40px;
	height: 40px;
	border-radius: 50%;
    position: fixed;
	top: 90vh;
	left: 93vw;
    transition: all 300ms;
}

#btt svg{
	fill: var(--gray7);
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

/* For the Back to Top Button on Hover */
#btt:hover{
    transform: scale(1.05);
}


/* ---------- Media Queries ---------- */
/* for larger mobile and tablet screens */
@media screen and (min-width: 605px){
    /* Update Background SVG Layout */
	#background{
		width: 100vw;
		background-image: url("images/tablet.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}

    /* Allow Header to Display in Two Columns */
    header{
        /* display: grid;
        grid-template-columns: 1fr 2fr; */
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        /* justify-content: space-around; */
    }

    /* H1 Styles */
    h1{
        text-align: left;
        font-size: 2.5rem;
    }

    /* H2 Styles */
    h2{
        text-align: left;
    }

    /* Logo Image Styles */
    header > a img{
        width: 100%;
    }

    nav{
        flex-basis: 100%;
    }

    /* Navigation List Adjustments */
    nav ul{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    /* Navigation Link Styles */
    nav a{
        margin: 0 auto;
    }

    /* Adjustments to arrow buttons on sliders */
    .slick-track{
        /* gap: 4.5vw; */
    }
    
    .cards section{
        min-width: 275px !important;
    }

    .slick-prev{
        left: 60px;
    }
    
    .slick-next{
        right: 60px;
    }

    /* Link in Footer */
    footer a{
        display: inline;
        padding: 0;
    }
}

/* for larger tablet and smaller laptop screens */
@media screen and (min-width: 900px){

    #background{
		display: block;
		background-image: url("images/wide-background.svg");
		background-size: cover;
		background-repeat: no-repeat;
	}

    #flex-bkgrnd{
		display: none;
	}

    header, main, footer{
        width: 80%;
    }

    header{
        gap: 0;
        justify-content: space-around;
    }

    header > a img{
        max-width: 200px;
        margin: 0;
    }

    /* H1 Styles */
    h1{
        line-height: 3.75rem;
        margin-bottom: 32px;
    }

    /* Nav Styles */
    nav{
        margin: 0 auto 16px auto;
    }

    /* ----- PLAYLISTS CAROUSEL STYLES ----- */
    .cards section{
        min-width: 350px !important;
    }

    .slick-track{
        /* padding-top: 12vw; */
        /* padding-bottom: 10vw; */
        /* gap: 2vw; */
    }

    .slick-slide img{
        max-width: 400px;
        height: auto;
        margin: 0 auto;
    }

    /* Active Heading Styles */
    /* h3.ui-accordion-header.ui-corner-top.ui-state-default.ui-accordion-header-active.ui-state-active{
        padding: 8px 10px;
        max-width: calc(100% - 20px);
    } */
}

/* for large and extra large screens */
@media screen and (min-width: 1050px){

    /* H1 Styles */
    h1{
        font-size: 3.5rem;
    }
}