/*Ari Faye

Colors:
White: #FFFFFF
Pale Grey: #EDEEF0
Dark Blue: #556797
Light Blue: #6F92BF
Mid Grey: #464B59
Dark Grey: #141826 */
body {
    width: 1280px;
    margin: 0 auto;
    background-color: #f7f7f7;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    color: #556797;
    float: left;
}
h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2em;
    color: #556797;
    margin: 0;
}
h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    color: #556797;
}
p, ul, label, legend {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Toggle switch styles*/
.switch {
    position: relative;
    float: right;
    width: 50px;
    height: 30px;
    margin-top: 40px;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 5px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #6F92BF;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 35px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/*Toggle code ends here*/

.floatleft {
    float: left;
}

.clear {
    clear: both;
}
section {
    height: 450px;
    background-color: #EDEEF0;
    margin-top: 80px;
    margin-bottom: 40px;
    display: inline-block;
}

#welcome {
    width: 600px;
    height: 410px;
    float: left;
    margin-top: 0px;
    padding: 40px 40px 0px 40px;

}

#products {
    height: 370px;
    width: 800px;
    background-color: #EDEEF0;    
    margin-top: 0px;
    padding: 40px 40px 0px 40px;
}

button, input[type="submit"] {
    background-color: #556797;
    width: 150px;
    height: 50px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .9em;
}
button:focus {
    background-color: #6F92BF;
}
form {
    background-color: #EDEEF0;    
    padding: 20px;
    width: 1240px
}
input[type="text"], input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
  }

input[type="radio"] {
    background-color: #ffffff;    
    width: 20px;
    height: 20px;
    border-radius: 100%;
    -webkit-appearance: none;
    border: 3px solid #6F92BF;
}

input[type="radio"]:focus {
    background-color: #556797;
}

#preffered {
    display: inline;
    padding: 20px;
  }
footer {
    margin: 40px;
}

/*Dark mode styles begin here*/

.bgDark {
    background-image: url("images/backgroundgraffiti.jpg");
    background-repeat: no-repeat;
    background-color: #141826;
}
.sectionDark {
    background-color: #556797;
}
.whiteText {
    color: white;
}