html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --font-size: 18px;
    --primary-font: "Montserrat", sans-serif;
    --primary-color: hsl(220, 98%, 61%);
    --secondary-color: hsl(0, 63%, 45%);
    --background-color: rgb(16, 12, 32);
    --text-color: rgb(225, 225, 225);
    --hover-color: rgb(29, 22, 57);
    --background-gradient: linear-gradient(
        to right,
        hsl(246, 70%, 25%),
        hsl(201, 100%, 30%)
    );
    --border: 1px solid rgb(56, 56, 56);
    --light-purple: rgb(67, 67, 67);
    --dark-gray: #292929;
    --light-gray: #a7a7a7;
    --white: #ffffff;
}

html {
    font-family: var(--primary-font);
    background-color: var(--background-color);
    color: var(--text-color);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#title {
    font-size: 1.5rem;
    margin-bottom: 2.8rem;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
    position: relative;
}

#start {
    padding: 25px 65px;
    font-size: 1.4rem;
    color: black;
    background-color: white;
    border-radius: 15px;
    font-family: var(--primary-font);
    border: var(--border);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

#start:hover {
    background: var(--background-gradient);
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    border: none;
    color: white;
}

/* Validation errors are being caused by this animation. From what I can tell, I beleive it is because this type of animation isn't supported in all browsers. */
/* Start of spinning animation - Code from: https://www.coding2go.com */
#heading {
    margin: 0 auto;
    padding: 3rem;
    min-width: 130px;
    background: var(--light-purple);
    text-align: center;
    border-radius: 10px;
    position: relative;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#heading::after,
#heading::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(
        from var(--angle),
        var(--background-color),
        hsl(246, 85%, 48%),
        var(--background-color),
        hsl(201, 100%, 45%),
        var(--background-color)
    );
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}
#heading::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}
@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}
/* End of spinning animation */

.introText {
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
    margin: 3rem;
}

#questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--light-purple);
    border-radius: 20px;
    width: 80%;
    height: 85%;
    max-width: 1000px;
    max-height: 1150px;
    text-align: center;
    position: relative;
}

#questionsWrapper {
    height: 100vh;
    display: none;
    align-items: flex-start;
    justify-content: center;
    margin-top: 20px;
}

.hidden {
    display: none;
}

#questions h2 {
    font-size: 1.7rem;
    border-bottom: 2px solid white;
    width: 80%;
    padding: 1rem;
}

#question {
    font-size: 1.3rem;
    margin: 1rem;
    display: inline-block;
}

#answers {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.answerBtns {
    width: 80%;
    height: 20%;

    font-size: 1rem;
    text-align: center;
    color: black;
    background-color: white;
    font-family: var(--primary-font);
    border-radius: 20px;
    border: var(--border);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.answerBtns:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    border: none;
    cursor: pointer;
}

#next {
    font-family: var(--primary-font);
    border-radius: 20px;
    border: var(--border);
    display: none;
    align-items: center;
    padding: 4%;

    font-size: 1rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
}

#next svg {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

#next:hover {
    background: var(--background-gradient);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

#restart {
    font-family: var(--primary-font);
    border-radius: 20px;
    font-size: 1rem;
    border: var(--border);
    display: none;
    align-items: center;
    padding: 4%;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: black;
}

#restart svg {
    height: 20px;
    width: 20px;
    margin-left: 5px;
}

#restart:hover {
    background: var(--background-gradient);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

#otherBtns {
    display: flex;
    justify-content: space-around;
    width: 80%;
    position: absolute;
    bottom: 8%;
}

#progressContainer {
    background-color: var(--background-color);
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    bottom: 10px;
}

#progressBar {
    width: 0%;
    background: var(--background-gradient);
    height: 10px;
    border-radius: 20px;
    transition: width 0.5s ease;
}

.clicked {
    background: var(--background-gradient);
    color: white;
}

#recommendedPlans {
    display: flex;
    width: 100%;
    max-width: 1100px;
    height: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

#plansWrapper {
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#planHead {
    display: none;
    background: var(--background-gradient);
    font-size: 2rem;
    text-align: center;
    padding: 1.5rem;
}

.plan {
    width: 220px;
    height: 550px;
    background-color: var(--light-purple);
    margin: 0.5rem;
    border: 1px solid #68af85;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    animation: scrollIn 0.5s forwards;
}

@keyframes scrollIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.plan:nth-child(1) {
    animation-delay: 0.15s;
}
.plan:nth-child(2) {
    animation-delay: 0.3s;
}
.plan:nth-child(3) {
    animation-delay: 0.45s;
}
.plan:nth-child(4) {
    animation-delay: 0.6s;
}

.plan svg {
    height: 20px;
    width: auto;
}

.cardHead {
    text-align: center;
    padding: 0.8rem;
    font-size: 1rem;
    font-weight: 550;
}

.subHead {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-gray);
    padding: 0.3rem;
}

.lines svg,
.network svg {
    margin-right: 5px;
}

.mint {
    background-color: #68af85;
}

.visible {
    background-color: #2600ff;
}

.usMobile {
    background-color: #d9484c;
}

.boost {
    background-color: #ec622b;
}

.tello {
    background-color: #0d84d9;
}

.verizon {
    background-color: #d52b1e;
}

.tMobile {
    background-color: #e20074;
}

.att {
    background-color: #469dd6;
}

.metro {
    background-color: #6e32a0;
}

.redPocket {
    background-color: #aa0808;
}

.firstNet {
    background-color: #000000;
}

.helium {
    background-color: #ff7526;
}

.cricket {
    background-color: #5fa62e;
}

.ultra {
    background-color: #6e32a0;
}

.mobileX {
    background-color: #2d9f00;
}

.mobileXBorder {
    border: 2px solid #2d9f00;
}

.ultraBorder {
    border: 2px solid #6e32a0;
}

.mintBorder {
    border: 2px solid #68af85;
}

.cricketBorder {
    border: 2px solid #5fa62e;
}

.visibleBorder {
    border: 2px solid #2600ff;
}

.usMobileBorder {
    border: 2px solid #d9484c;
}

.boostBorder {
    border: 2px solid #ec622b;
}

.telloBorder {
    border: 2px solid #0d84d9;
}

.verizonBorder {
    border: 2px solid #d52b1e;
}

.tMobileBorder {
    border: 2px solid #e20074;
}

.attBorder {
    border: 2px solid #469dd6;
}

.metroBorder {
    border: 2px solid #6e32a0;
}

.redPocketBorder {
    border: 2px solid #aa0808;
}

.firstNetBorder {
    border: 2px solid #000000;
}

.heliumBorder {
    border: 2px solid #ff7526;
}

.lines,
.network {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}

.lines svg,
.network svg {
    height: 15px;
    width: auto;
}

.tax {
    text-align: center;
    padding-bottom: 1rem;
}

.tax::after {
    content: "";
    width: 90%;
    position: absolute;
    background-color: lightgray;
    height: 2px;
    bottom: 402px;
    transform: translateX(-50%);
    left: 50%;
}

.priceNtax {
    text-align: center;
    margin: 1rem;
}

.largePrice {
    font-size: 2rem;
}

.tax {
    color: var(--light-gray);
}

.highSpeed {
    font-size: 2rem;
    margin-bottom: 0.3rem;
}

.afterHighSpeed {
    margin-bottom: 1.3rem;
    font-size: 0.9rem;
}

.priority svg,
.hotspot svg,
.streaming svg,
.texts svg,
.calls svg,
.intTexts svg,
.intCalls svg,
.mexData svg,
.intData svg {
    height: 15px;
    margin-right: 5px;
}

.priority,
.hotspot,
.streaming,
.texts,
.calls,
.intTexts,
.intCalls,
.mexData,
.intData {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    margin: 0.4rem;
}

.streaming {
    margin-bottom: 1.9rem;
}

.streaming::after {
    content: "";
    width: 90%;
    position: absolute;
    background-color: lightgray;
    height: 2px;
    bottom: 240px;
    transform: translateX(-50%);
    left: 50%;
}

.calls {
    margin-bottom: 1.8rem;
}

.calls::after {
    content: "";
    width: 90%;
    position: absolute;
    background-color: lightgray;
    height: 2px;
    bottom: 174px;
    transform: translateX(-50%);
    left: 50%;
}

.linkBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    background-color: white;
    border: var(--border);
    border-radius: 10px;
    margin: 0 auto;
    background-color: #ebebeb;
    position: absolute;
    bottom: 10px;
    left: 11px;
    font-size: 0.8rem;
    text-align: left;
}

.linkBtn:hover {
    background-color: #ffffff;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
}

.linkBtn svg {
    color: black;
    position: absolute;
    right: 9px;
    bottom: 17px;
    pointer-events: none;
}

.planLink {
    text-decoration: none;
    font-family: var(--primary-font);
    color: black;

    padding: 18px;
    width: 100%;
    height: 100%;
}

#newQuiz {
    font-family: var(--primary-font);
    text-align: center;
    border: var(--border);
    font-size: 1.6rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
    margin-top: 2rem;
    padding: 10px 20px;
    color: black;
    margin-bottom: 1.5rem;
}

#newQuiz:hover {
    background: var(--background-gradient);
    color: white;
    cursor: pointer;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    transform: translateY(-10px);
}

#filterWrapper {
    margin-top: 2rem;
    text-align: center;
}

.filter {
    height: 60px;
    width: 150px;
    background: var(--white);
    border-radius: 10px;
    border: none;
    transition: transform 0.3s ease;
    font-family: var(--primary-font);
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-size: 1rem;
    color: black;
}

.filterClick {
    color: var(--text-color);
    background: var(--background-gradient);
}

.filter:hover {
    transform: translateY(-10px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.8);
    cursor: pointer;
}

#pageButtons {
    text-align: center;
    max-width: 300px;
}

.pageBtns {
    border-radius: 10px;
    transition: transform 0.3s ease;
    font-family: var(--primary-font);
    width: 50px;
    height: 50px;
    border: none;
    font-size: 1.2rem;
    margin: 0.5rem;
    color: black;
    cursor: pointer;
}

.pageBtns:hover {
    transform: translateY(-10px);
}

.pageBtnClick {
    color: var(--text-color);
    background: var(--background-gradient);
}

#carousel {
    text-align: center;
}

#carousel h3 {
    font-size: 2.5rem;
    margin-top: 2.5rem;
}

#resume {
    border: none;
    font-size: 1.2rem;
    color: black;
    font-family: var(--primary-font);
    transition: transform 0.3s ease;
    padding: 12px;
    font-size: 1rem;
    border-radius: 20px;
    cursor: pointer;
    position: absolute;
    bottom: 80px;
}

#resume:hover {
    transform: translateY(-10px);
    background: var(--background-gradient);
    color: var(--text-color);
}

footer {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: none;
}

#questionSVG {
    display: flex;
    align-items: center;
    justify-content: center;
}

#questionSVG svg {
    height: 40px;
    width: 40px;
    text-align: center;
    margin-right: 50px;
    flex-shrink: 0;
    transition: transform 0.3s ease;
}

#questionSVG svg:hover {
    cursor: pointer;
    transform: translateY(-5px);
}

#infoModal {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 50;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#modalWrapper {
    background-color: var(--light-purple);
    opacity: 1;
    width: 600px;
    padding: 30px;
    position: relative;
    border-radius: 25px;
}

#modalWrapper svg {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 40px;
    width: 40px;
    cursor: pointer;
}

#modalWrapper svg:hover {
    stroke: red;
}

#modalHead {
    font-size: 3rem;
    display: block;
    margin-bottom: 3rem;
}

#modalHead::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    width: 100%;
    height: 6px;
    width: 450px;
    background: var(--background-gradient);
}

#modalP {
    color: white;
    font-size: 1.5rem;
    line-height: 1.8em;
}

#accordion {
    width: 70%;
    font-family: var(--primary-font);

    border: none;
}

#accordion h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.1rem;
    color: black;
    background-color: white;
    border: none;
    padding-left: 50px;
    position: relative;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.accordionIcon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 18px;
    left: 10px;
}

#accordion p {
    font-size: 1rem;
    word-wrap: break-word;
    line-height: 1.5rem;
    border: none;
    border-radius: 10px;
}

.accordionLink {
    color: black;
}

.accordionLink:hover {
    color: blue;
}

/* Carousel */
.owl-carousel {
    width: 65%;
    margin-top: 25px;
    margin-bottom: 25px;
}

/* iPhone SE and very small device styles */

@media screen and (max-height: 670px) {
    #resume {
        bottom: 20px;
    }
}

/* Mobile device styles */

@media screen and (max-width: 460px) {
    #newQuiz {
        font-size: 1.5rem;
    }

    .introText {
        font-size: 1.5rem;
        margin: 1.7rem;
    }

    #questionSVG svg {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    #modalWrapper {
        background-color: var(--light-purple);
        opacity: 1;
        width: 70%;
        padding: 30px;
        position: relative;
        border-radius: 25px;
    }

    #modalHead {
        font-size: 1.5rem;
    }

    #modalHead::after {
        top: 75px;
        width: 250px;
        height: 4px;
    }

    #modalP {
        font-size: 1rem;
    }

    #accordion p {
        font-size: 0.8rem;
    }

    #accordion h3 {
        font-size: 0.9rem;
    }

    .accordionIcon {
        top: 15px;
    }

    .owl-carousel {
        width: 80%;
    }

    #accordion {
        width: 80%;
    }

    #carousel h3 {
        font-size: 2rem;
    }
}

/* Larger screen styles */

@media screen and (min-width: 768px) {
    #heading {
        padding: 6rem;
    }

    h1 {
        font-size: 4rem;
    }

    #title {
        font-size: 1.9rem;
    }

    .introText {
        font-size: 2.5rem;
    }

    #start {
        font-size: 2rem;
    }

    #questions h2 {
        font-size: 2.3rem;
        padding: 1.3rem;
    }

    #question {
        font-size: 2rem;
        margin: 1.5rem;
    }

    #questions {
        height: 95%;
    }

    #questionsWrapper {
        align-items: center;
        margin: 0;
    }

    #answers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 65%;
        gap: 20px;
        width: 80%;
    }

    .answerBtns {
        width: 100%;
        height: 100%;
        font-size: 1.7rem;
    }

    #pageButtons {
        max-width: none;
    }

    #next,
    #restart {
        font-size: 1.3rem;
        margin-top: 4%;
        margin-bottom: 10%;
    }

    #otherBtns {
        display: flex;
        justify-content: space-around;
        width: 80%;
        position: relative;
        bottom: 0;
    }

    #planHead {
        font-size: 3rem;
        padding: 2rem;
    }

    #carousel h3 {
        font-size: 2.5rem;
    }

    #resume {
        font-size: 1.2rem;
        padding: 12px;
        bottom: 10px;
    }
}
